@import '../../DesignSystem/DesignApp.module.scss';

.deck {
  max-width: 48rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $darkBlue;
}

.gameInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.gameInfoForItems {
  width: 50%;
  margin: 15px;
  text-align: center;
  font-size: 2rem;
  @include box-radius($green);
}

.playAgainButton {
  cursor: pointer;
  &:hover {
    background-color: $pink;
  }
}
