$margin15: 15px;
$textCenter: center;

.deck {
  max-width: 48rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #023e7d;
}

.gameInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gameInfoForItems {
  width: 50%;
  margin: $margin15;
  text-align: $textCenter;
  font-size: 2rem;
}
