$pink: #ff99c8;
$green: #d0f4de;
$darkGreen: #1a535c;
$darkBlue: #023e7d;
$borderCardButton: solid 2px #1a535c;

@mixin box-radius($colorOfBackground) {
  border: $borderCardButton;
  border-radius: 10px;
  background-color: $colorOfBackground;
  font-size: 2rem;
}
